body {
    background: url('https://ak.picdn.net/shutterstock/videos/10819937/thumb/1.jpg');
    background: url("./assets/video.gif") no-repeat;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}